.content {
    display: flex;
    justify-content: center;
    // align-items: center;
    width: 100%;
    height: 100%;
    background: url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1597816040410&di=1fbc17d73fdc6961d0f0e609a236faf7&imgtype=0&src=http%3A%2F%2Fpic1.win4000.com%2Fwallpaper%2F2017-10-22%2F59ec5d7dedcfe.jpg");
    background-size: cover;

    .login {
        border: 1px dotted skyblue;
        box-sizing: border-box;
        padding: 50px;
        margin: 20% auto;
        width: 30%;
        min-height: 280px;
        height: 300px;
        text-align: center;
        display: inline-block;
        background-color: rgba(255, 255, 255, 0.7);
    }

    button {
        padding: 5px 20px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        color: #2196F3;
        margin-top: 20px;
    }
}